.login-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
    }
    .text {
        font-weight: 500;
    }
    .input-2 {
        position: relative;
        i {
            position: absolute;
            top: 22px;
            right: 10px;
        }
    }
    input {
        outline: none;
        padding: 10px 5px;
        margin: 8px 0;
        border: #1618230f;
        background-color: #1618230f;
        border-radius: 5px;
        width: 100%;
        &:hover {
            background-color: #dedede;
        }
    }
    button {
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin: 15px 0;

        &.active {
            background-color: #fe2c55;
            color: white;   
        }
    }
    button[disabled="disabled"],
    button:disabled {
        cursor: not-allowed;
    }
    .back {
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
    }
}
